name: CI - Master

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: npm ci
    # - run: npm run lint
    # - run: npm run typecheck
    # - run: npm run test
    # - run: npm run sls-config-check

  trigger-deploy-staging:
    needs: test
    name: Deploy Staging
    runs-on: ubuntu-latest
    steps:
    - uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: ${{ secrets.NOTARISE_DEPLOYER_WORKFLOW }}
        repo: ${{ secrets.NOTARISE_DEPLOYER_REPO }}
        token: ${{ secrets.NOTARISE_REPO_TOKEN }}
        inputs: '{ "ref": "${{ github.ref }}" }'